body {
  font-family: monospace;
  margin: 0;
}

.bg {
  background-image: radial-gradient(rgba(255, 255, 255, 0.295), rgb(0, 0, 0)),
    url(/background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.beat-pad {
  width: 500px;
  height: 650px;
  background-color: rgba(10, 10, 10, 0.836);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.849);
  border-radius: 25px;
  padding: 30px;
  text-align: center;
  border-bottom: 2px solid rgb(8, 8, 8);
  border-right: 5px solid rgb(8, 8, 8);
}

.drums {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  border-radius: 10px;
}

.pad {
  background-color: rgba(32, 32, 32, 0.863);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 2px solid rgba(255, 255, 255, 0.017);
}

.pad kbd {
  font-size: 18px;
  color: white;
}

.sample {
  background-color: rgba(32, 32, 32, 0.863);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-top: 35px;
  font-size: 18px;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.017);
}

/* CSS for beat pad active state */

.active {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.082),
    rgb(29, 29, 29)
  );
}
.wave {
  background-image: url(/waveform2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: rgba(255, 255, 255, 0);
}
